<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="#">Medilab</a></h1>
    <nav class="nav-menu">
      <ul>
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#departments">Departments</a></li>
        <li><a href="#doctors">Doctors</a></li>
        <li class="drop-down"><a href="#">Drop Down</a>
        </li>
        <li><a href="#contact">Contact</a></li>

      </ul>
    </nav><!-- .nav-menu -->

    <a href="#appointment" class="appointment-btn scrollto">Make an Appointment</a>

  </div>
</header>
